<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>

	<meta charset="utf-8">

	<title>{{ title }}</title>

	<link href="/js/scripts.js" rel="preload" as="script">

	<link href="/fonts/poppins-v15-latin-400.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
	<link href="/fonts/poppins-v15-latin-500.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
	<link href="/fonts/poppins-v15-latin-600.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
	<link href="/fonts/poppins-v15-latin-700.woff2" rel="preload" as="font" type="font/woff2" crossorigin>

	<link href="/favicon.png" rel="apple-touch-icon-precomposed">

	<link rel="preconnect" href="https://mc.yandex.ru/">
	<link rel="dns-prefetch" href="https://mc.yandex.ru/">
	<link rel="dns-prefetch" href="https://www.google-analytics.com/">
	<link rel="dns-prefetch" href="https://snap.licdn.com/">
	<link rel="dns-prefetch" href="https://connect.facebook.net/">

	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ description }}">
	<meta name="theme-color" content="#121212">

	<meta property="og:locale" content="en_EN">
	<meta property="og:site_name" content="{{ site }}">
	<meta property="og:url" content="{{ url }}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ title }}">
	<meta property="og:description" content="{{ description }}">

	<meta property="og:image" content="{{ url }}/og.png">
	<meta property="og:image:secure_url" content="{{ url }}/og.png">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	<meta property="og:image" content="{{ url }}/og-236.png">
	<meta property="og:image:width" content="236">
	<meta property="og:image:height" content="236">

	<link href="/css/styles.css" rel="stylesheet">
	<script defer src="/js/scripts.js"></script>

{% for item in preloadImage %}
	<link href="{{ item.img }}" rel="preload" as="image" media="{{ item.media }}">
{% endfor %}

<script>
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(70306213, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-80WPRK8M95"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-80WPRK8M95');
</script>

</head>

<body>

<div class="wrapper">

{% include "template/header.html" %}

	<main class="main">

{% block content %}{% endblock %}

	</main>

{% include "template/footer.html" %}

</div>

<script>
_linkedin_partner_id = "2695330";
window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script><script>
(function(){var s = document.getElementsByTagName("script")[0];
var b = document.createElement("script");
b.type = "text/javascript";b.async = true;
b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
s.parentNode.insertBefore(b, s);})();
</script>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '203067437857334');
  fbq('track', 'PageView');
</script>
<!-- End Facebook Pixel Code -->

</body>
</html>