	<footer class="footer">

		<div class="center">

			<div class="footer__social">

{% include "template/social.html" %}

			</div>

			<div class="footer__links">

				<a class="goal-4" target="_blank" rel="noopener" href="https://trello.com/b/Ubq2OMCe/value-network-public-roadmap">
					Public Roadmap
				</a>

				<a class="goal-5" target="_blank" rel="noopener" href="https://docs.google.com/spreadsheets/u/6/d/1CDD77FYWie_99-FYeHbghMOpdsxUZUnJ_LpBDH_jTFs/edit?usp=sharing">
					Tokenomics
				</a>

			</div>

			<p class="copyright">
				Copyright © 2021 Value Network.
			</p>

		</div>

	</footer>