	<footer class="footer">

		<div class="center">

			<div class="footer__btn">

				<button class="btn btn--blue btn--chat" type="button" data-modal="form">
					<svg width="26" height="26" viewBox="0 0 26 26">
						<path d="M10.83 3.25h4.34a8.67 8.67 0 010 17.33v3.8c-5.42-2.17-13-5.42-13-12.46a8.67 8.67 0 018.66-8.67z"/>
					</svg>
					Write us something
				</button>

			</div>

{% include "template/social-footer.html" %}

			<p class="copyright">
				Copyright © 2020 Value Network.
			</p>

		</div>

	</footer>