	<div class="modal">

		<div class="modal__box">

			<div class="modal__item modal__item--form">

				<form class="modal-form form-mailer" action="/Mailer.php">

					<input type="hidden" name="from" value="Value Network">
					<input type="hidden" name="to" value="info@valuenetwork.live">
					<input type="hidden" name="subject" value="Write us something">

					<p class="modal-form__title">
						Write us something
					</p>

					<div class="modal-form__fieldset">

						<div class="modal-form__col">

							<div class="modal-form__input">

								<input class="input" placeholder="Name*" required="required" aria-label="Name" name="name">

							</div>

							<div class="modal-form__input">

								<input class="input" placeholder="Email*" required="required" aria-label="Email" type="email" name="email">

							</div>

							<div class="modal-form__input">

								<input class="input" placeholder="LinkedIn profile*" required="required" aria-label="LinkedIn profile" name="linkedin">

							</div>

						</div>

						<div class="modal-form__col">

							<div class="modal-form__input">

								<textarea class="input" placeholder="Message" aria-label="Message" name="message"></textarea>

							</div>

						</div>

					</div>

					<button class="modal-form__btn btn btn--blue">
						Send
					</button>

					<p class="modal-form__done">
						Done.
					</p>

				</form>

			</div>

		</div>

		<div class="modal__close-btn">

			<button type="button" class="modal__close button" aria-label="close">
				<svg width="24" height="24" viewBox="0 0 24 24">
					<path d="M8 7v4L2 6l6-5v4h5a8 8 0 010 16H4v-2h9a6 6 0 100-12H8z"/>
				</svg>
				back
			</button>

		</div>

	</div>