	<div class="modal">

		<div class="modal__box">

			<div class="modal__item modal__item--form">

				<form class="modal-form form-subscribe" action="https://velvet.us2.list-manage.com/subscribe/post?u=e75c1b6e32e210592c19a4eb4&amp;id=4aa0b68406" id="form-subscribe-modal" method="post">

					<input type="hidden" name="b_e75c1b6e32e210592c19a4eb4_4aa0b68406">

					<p class="modal-form__title">
						Write us something
					</p>

					<div class="modal-form__fieldset">

						<div class="modal-form__col">

							<div class="modal-form__input">

								<input class="input" placeholder="Name*" required="required" aria-label="Name" name="name">

							</div>

							<div class="modal-form__input">

								<input class="input" placeholder="Email*" required="required" aria-label="Email" type="email" name="email">

							</div>

							<div class="modal-form__input">

								<input class="input" placeholder="LinkedIn profile*" required="required" aria-label="LinkedIn profile" name="linkedin">

							</div>

						</div>

						<div class="modal-form__col">

							<div class="modal-form__input">

								<textarea class="input" placeholder="Message" aria-label="Message" name="message"></textarea>

							</div>

						</div>

					</div>

					<button class="modal-form__btn btn btn--blue form-subscribe__submit">
						Send
					</button>

					<span class="form-subscribe__result"></span>

				</form>

			</div>

		</div>

		<button type="button" class="modal__close modal__close-btn button" aria-label="close">
			<svg width="24" height="24" viewBox="0 0 24 24">
				<path d="M8 7v4L2 6l6-5v4h5a8 8 0 010 16H4v-2h9a6 6 0 100-12H8z"/>
			</svg>
			back
		</button>

	</div>