
	<ul class="social">

		<li class="social__item">

			<a href="/" class="social__link" title="facebook {{ site }}">

			</a>

		</li>

		<li class="social__item">

			<a href="/" class="social__link" title="telegram {{ site }}">

			</a>

		</li>

		<li class="social__item">

			<a href="/" class="social__link" title="linkedin {{ site }}">

			</a>

		</li>

		<li class="social__item">

			<a href="/" class="social__link" title="twitter {{ site }}">

			</a>

		</li>

		<li class="social__item">

			<a href="/" class="social__link" title="medium {{ site }}">

			</a>

		</li>

	</ul>