.based {

	margin: 24px 0 200px;

	&__box {

		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row-reverse;

		@media ($mdWidth) {

			display: block;
			padding: 0;

		}

	}

	&__title {

		font-size: 48px;
		font-weight: 500;
		line-height: 60px;

		@media ($smWidth) {

			font-size: 36px;
			line-height: 48px;

		}

	}

	&__content {

		width: 448px;
		position: relative;
		margin-bottom: 24px;

		@media ($mdWidth) {

			width: 100%;
			margin-top: 72px;

		}

		@media ($smWidth) {

			margin-top: 0;

		}

		p {

			color: var(--text);
			margin: 36px 0;

			@media ($smWidth) {

				margin: 20px 0 30px;

			}

		}

	}

	&__label {

		display: flex;
		margin: 12px 0;

		small {

			font-weight: 500;
			font-size: 12px;
			line-height: 20px;
			color: var(--bg);
			padding: 6px 12px;
			background-color: var(--color);
			border-radius: 24px;

		}

		@media ($smWidth) {

			margin: 30px 0 10px;

		}

	}

	&__btn {

		display: flex;

		.btn {

			text-decoration: underline;

			&:hover {

				text-decoration: none;

			}

		}

	}

	&__img {

		position: relative;

		img {

			right: 20px;

		}

	}

}