.community {

	margin: 20px 0;
	text-align: center;

	@media ($mdWidth) {

		margin: 60px 0;

	}

	&__title {

		font-weight: 500;
		font-size: 36px;
		line-height: 60px;
		opacity: 0.8;

	}

	&__list {

		display: flex;
		justify-content: space-between;
		font-weight: 500;
		margin: 60px 20px 66px;
		font-size: 18px;
		line-height: 30px;
		color: rgba(255, 255, 255, .7);
		position: relative;

		&::before {

			position: absolute;
			content: '';
			height: 3px;
			left: 0;
			right: 0;
			top: 44px;
			background: linear-gradient(90deg, rgba(208, 208, 208, 0) 0%, #D0D0D0 50%, rgba(208, 208, 208, 0) 100%);

		}

		@media ($mdWidth) {

			display: block;
			margin: 0;
			font-size: 16px;
			line-height: 24px;
			margin: 60px 0 0;

			&::before {

				display: none;

			}

		}

	}

	&__item {

		width: 304px;

		@media ($mdWidth) {

			width: 100%;

			&::after {

				content: '';
				display: block;
				height: 3px;
				background: linear-gradient(90deg, rgba(208, 208, 208, 0) 0%, #D0D0D0 52.6%, rgba(208, 208, 208, 0) 100%);
				margin: 30px 0;

			}

		}

	}

	&__logo {

		display: flex;
		align-items: center;
		justify-content: center;
		width: 226px;
		height: 86px;
		margin: auto;
		background-color: var(--bg);
		margin-bottom: 20px;
		position: relative;

		@media ($mdWidth) {

			height: auto;
			margin-bottom: 24px;

		}

	}

	&__desc {

		@media ($mdWidth) {

			margin: 0 20px;

		}

	}

	&__check {

		margin: 0 auto;
		width: 60px;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(237, 237, 237, .2);
		border-radius: 12px;
		padding-left: 5px;

	}

	&__foot {

		font-size: 18px;
		line-height: 30px;
		margin: 12px 0;

		&-sep {

			margin: 0 5px;

		}

	}

}