.first-screen {

	text-align: center;

	&__title {

		font-size: 48px;
		font-weight: 700;
		line-height: 72px;
		margin: 36px 0 12px;

		@media ($smWidth) {

			font-size: 36px;
			line-height: 48px;
			margin: 26px 0 18px;

		}

	}

	&__text {

		font-size: 36px;
		font-weight: 400;
		line-height: 54px;
		color: var(--text);

		@media ($smWidth) {

			font-size: 24px;
			line-height: 36px;

		}

	}

	&__btn {

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 18px -18px 40px;

		@media ($smWidth) {

			margin: 30px -18px 60px;

			.btn {


			}

		}

		.btn {

			margin: 18px;

		}

	}

	&__img {

		position: relative;
		overflow: hidden;
		height: 464px;
		display: flex;
		justify-content: center;

		@media ($smWidth) {

			height: 180px;

			&::after {

				height: 100px;

			}

		}

		&::after {

			position: absolute;
			height: 130px;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			background-image: linear-gradient(to top, var(--bg), color(var(--bg) a(0%)));

		}

		&-border {

			padding: 12px;
			position: relative;

			@media ($mdWidth) {

				padding: 8px;

			}

			@media ($smWidth) {

				padding: 4px;

				&::before {

					border-radius: 12px;

				}

			}

			&::before {

				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				opacity: .2;
				border-radius: 20px;
				background-image: linear-gradient(70deg, var(--color) 7%, color(var(--color) a(0%)) 117%);

			}

		}

		img {

			border-radius: 16px;

			@media ($mdWidth) {

				max-width: 100%;
				height: auto;

			}

			@media ($smWidth) {

				border-radius: 6px;

			}

		}

	}

}