.footer {

	margin-top: 56px;

	&__btn {

		display: flex;
		justify-content: center;
		margin: 12px;

	}

}

.copyright {

	margin: 36px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	color: #B3B3B3;
	opacity: 0.4;

	@media ($smWidth) {

		margin: 30px;

	}

}