.footer {

	margin-top: 60px;

	@media ($smWidth) {

		margin-top: 50px;

	}

}

.copyright {

	margin: 36px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	color: #B3B3B3;
	opacity: 0.4;

	@media ($smWidth) {

		margin: 30px;

	}

}