.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	transition: var(--transitionDefault);
	cursor: pointer;
	user-select: none;
	position: relative;
	font-size: inherit;
	line-height: inherit;
	color: transparent;
	text-align: center;
	white-space: nowrap;
	display: block;
	appearance: none;

	&:focus {

		outline: none;

	}

	&:hover {

		cursor: pointer;

	}

	&:disabled {

		pointer-events: none;

	}

}

.btn {

	padding: 20px 30px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 600;
	border-radius: 12px;

	@media ($smWidth) {

		font-size: 16px;

	}

	&--medium {

		padding: 16px;
		font-weight: 500;
		line-height: 18px;

	}

	&__inner {

		display: flex;
		align-items: center;

		img {

			margin-right: 10px;

		}

		small {

			font-size: 12px;
			opacity: 0.5;
			display: block;
			text-align: left;
			font-weight: 400;

		}

	}

	&--white {

		color: var(--bg);
		background-color: var(--color);

	}

	&--transparent {

		color: var(--color);
		background-color: rgba(255, 255, 255, 0.09);

	}

	&--blue {

		color: var(--color);
		background-color: var(--blue);

		@media ($desktop) {

			&:hover {

				background-color: var(--blue);

			}

		}

	}

	&--img {

		padding: 0;
		border-radius: 0;

	}

	&-more {

		display: flex;
		justify-content: center;

		a {

			font-weight: 500;
			font-size: 12px;
			line-height: 20px;
			display: flex;
			align-items: center;
			letter-spacing: 0.04em;
			padding: 3px 5px 3px 10px;
			border: 1px solid;
			text-transform: uppercase;
			border-radius: 4px;

			&::after {

				margin-left: 4px;
				content: '';
				background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='16' viewBox='0 0 17 16'%3E%3Cpath fill="white" d='M11.17 6.28L5.43 12l-.94-.94 5.74-5.74H5.17V4h7.33v7.33h-1.33V6.28z'/%3E%3C/svg%3E%0A");
				width: 17px;
				height: 16px;

			}

		}

	}

}

.input {

	height: 84px;
	line-height: 20px;
	padding: 32px 24px;
	font-size: 16px;
	color: #d3d3d3;

	width: 100%;
	font-family: inherit;
	position: relative;
	appearance: none;
	display: block;
	filter: none;
	-webkit-transform: translateZ(0px); /* FIX for iOS safari https://forum.ionicframework.com/t/ion-input-shows-only-the-first-entered-character-on-ios/73107/5 */

	border: 0;
	border-radius: 6px;

	background-color: var(--gray);

	@media ($smWidth) {

		height: 70px;
		padding: 25px 24px;

	}

	textarea& {

		resize: none;
		overflow: auto;

	}

	&::placeholder {

		color: #b3b3b3;
		opacity: .5;

	}

	&::-ms-clear {

		display: none;

	}

	@media ($desktop) {

		&:hover {

			background-color: color(var(--gray) a(70%));

			&::placeholder {

			}

		}

	}

	&:focus {

		outline: none;
		background-color: color(var(--gray) a(70%));

		&::placeholder {

			opacity: 1;

		}

	}

	&:disabled {

		pointer-events: none;

	}

	&--error {

		color: var(--error);

	}

	&:invalid {

		box-shadow: none;

	}

}

@keyframes autofill {

	to {

		color: var(--color);
		background-color: #fff;

	}

}
/*
.checkbox {

	display: block;
	position: relative;
	cursor: pointer;

	font-size: 14px;
	line-height: 20px;
	color: var(--text);

	&__input {

		position: absolute;
		width: 20px;
		height: 20px;
		top: 0;
		left: 0;
		opacity: 0.001;
		z-index: -1;
		appearance: none;

	}

	&__label {

		display: block;
		padding: 2px 0 2px 36px;

		&::before {

			width: 22px;
			height: 22px;
			border-radius: 4px;
			position: absolute;
			background-color: #fff;
			border: 1px solid var(--color);
			top: 0;
			left: 0;
			content: '';

		}

		a {

			text-decoration: underline;

			@media ($desktop) {

				&:hover {

					text-decoration: none;

				}

			}

		}

	}

	@media ($desktop) {

		&:hover &__label::before {



		}

	}

	&__input[type="checkbox"]:checked + &__label::before {

		background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 11.379l6.895-6.895 1.06 1.06L7.502 13.5 2.728 8.727l1.06-1.06 3.713 3.712z' fill='%237B4865' stroke='%237B4865'/%3E%3C/svg%3E");
		background-position: center;
		background-repeat: no-repeat;

	}

} */