.funded {

	margin: 230px 0 196px;

	@media ($mdWidth) {

		margin: 0;

	}

	&__box {

		display: flex;
		padding-right: 20px;

		@media ($mdWidth) {

			display: block;
			padding: 0;

		}

	}

	&__title {

		font-size: 48px;
		font-weight: 500;
		line-height: 60px;
		margin-top: 52px;

		@media ($mdWidth) {

			font-size: 36px;
			line-height: 48px;
			margin-top: 0;

		}

	}

	&__content {

		width: 448px;
		flex-shrink: 0;

		@media ($mdWidth) {

			width: 100%;

		}

		p {

			color: var(--text);
			margin: 36px 0;

			@media ($smWidth) {

				margin: 20px 0 30px;

			}

		}

	}

	&__btn {

		display: flex;

		@media ($xsWidth) {

			.btn {

				padding-left: 0;
				padding-right: 0;
				width: 100%;

			}

		}

	}

	&__img {

		position: relative;
		flex-grow: 1;
		margin-right: 107px;

		@media ($mdWidth) {

			margin: 64px 0 32px;

			img {

				position: relative;
				margin: auto;
				max-width: 100%;
				width: auto;
				height: auto;

			}

		}

		img {

			position: absolute;
			top: 0;
			right: 0;

		}

	}

}