.header {

	padding: 18px 0 16px;
	border-bottom: 1px solid rgba(78, 78, 78, .4);

	.center {

		width: 1440px;

	}

	@media ($smWidth) {

	}

	&__logo {

		@media ($smWidth) {


		}

	}

	&__box {

		display: flex;
		align-items: center;
		justify-content: space-between;

	}

	&__left {

		width: 200px;

	}

	&__right {

		width: 200px;
		display: flex;
		justify-content: flex-end;

	}

	&__try-valueswap {

		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;

		&-ico {

			margin-right: 12px;

		}

		&-arrow {

			margin-left: 4px;

		}

	}

}