.header {

	padding: 25px 0;
	margin-bottom: 46px;

	@media ($smWidth) {

		padding: 20px 0;
		margin-bottom: 20px;
		border-bottom: 1px solid #414141;

		.center {

			width: 100%;

		}

		.btn {

			width: 50px;
			height: 50px;
			padding: 0;

			svg {

				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;

			}

		}

	}

	&__logo {

		@media ($smWidth) {

			width: 217px;
			height: 14px;

		}

	}

	&__box {

		display: flex;
		align-items: center;
		justify-content: space-between;

	}

}