.modal {

	flex-grow: 1;
	position: relative;
	-webkit-overflow-scrolling: touch;
	z-index: 10;
	display: none;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 72px;

	@media ($mdWidth) {

		padding: 80px 40px;

	}

	&__item {

		position: relative;

	}

	&__close-btn {

		position: absolute;
		top: 36px;
		right: 36px;
		font-size: 18px;
		line-height: 24px;
		color: #B3B3B3;
		padding-left: 36px;

		@media ($mdWidth) {

			left: 36px;
			margin: auto;
			top: 30px;

		}

		svg {

			position: absolute;
			top: 0;
			left: 0;
			fill: #B3B3B3;

		}

	}

}

.modal-show {

	.modal {

		display: flex;

	}

	.wrapper {

		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;

	}

	.header,
	.main,
	.social {

		display: none;

	}

	.footer {

		margin: 0;

	}

}

.modal-form {

	width: 772px;

	@media ($mdWidth) {

		width: 100%;

	}

	&__title {

		margin-bottom: 36px;
		font-weight: normal;
		font-size: 36px;
		line-height: 54px;
		text-align: center;
		color: #B3B3B3;

		@media ($mdWidth) {

			font-size: 24px;
			line-height: 36px;
			margin-bottom: 20px;

		}

	}

	&__fieldset {

		display: flex;
		justify-content: space-between;

		@media ($mdWidth) {

			display: block;

		}

	}

	&__col {

		width: 376px;

		@media ($mdWidth) {

			width: auto;
			margin-top: 20px;

		}

	}

	&__input + &__input {

		margin-top: 24px;

		@media ($mdWidth) {

			margin-top: 20px;

		}

	}

	textarea {

		height: 300px;

		@media ($mdWidth) {

			height: 140px;

		}

	}

	&__btn {

		margin: 36px auto;
		width: 376px;

		@media ($mdWidth) {

			width: 100%;
			margin: 40px 0;

		}

	}

}