.programm {

	&__border {

		border: 2px solid #fff;
		border-radius: 24px;
		pointer-events: none;
		padding: 26px;
		position: relative;
		text-align: center;

		&::after {

			position: absolute;
			top: 36px;
			left: 36px;
			right: 36px;
			bottom: 36px;
			content: '';
			background-color: var(--bg);
			opacity: .8;

		}

	}

	&__label {

		position: absolute;
		top: -19px;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;

		p {

			background-color: var(--bg);
			padding: 0 36px;

		}

	}

	&__title {

		font-size: 48px;
		font-weight: 500;
		line-height: 60px;
		margin: 22px 0;

		@media ($smWidth) {

			font-size: 36px;
			line-height: 48px;
			margin: 30px 0 20px;

		}

	}

	&__content {

		margin: 52px 0 32px;
		position: relative;

		p {

			color: var(--text);

			b {

				font-weight: 600;
				color: var(--blue);

			}

		}

	}

	&__btn {

		display: flex;
		justify-content: center;
		margin: 46px 0 41px;

		@media ($smWidth) {

			margin: 26px 0 20px;

		}

	}

	&__foot {

		font-size: 14px;
		line-height: 24px;
		color: var(--text);
		margin: 0 auto;
		width: 330px;
		max-width: 100%;

		@media ($smWidth) {

			font-size: 12px;
			margin-bottom: 36px;

		}

		a {

			text-decoration: underline;
			color: var(--green);
			transition: var(--transitionDefault);

			&:hover {

				text-decoration-color: transparent;

			}

		}

	}

}