.programm {

	padding: 82px 0;
	background-color: var(--gray);
	border-radius: 12px;
	text-align: center;
	margin: 0 36px 36px;

	@media ($smWidth) {

		margin: 10px;
		padding: 30px 10px 10px;

		.center {

			padding: 0;

		}

	}

	&__border {

		border: 1px solid rgba(255, 255, 255, .12);
		border-radius: 12px;
		pointer-events: none;
		padding: 48px;
		position: relative;

		@media ($smWidth) {

			padding: 20px;

			&::after {

				top: 36px;
				left: 10px;
				right: 10px;
				bottom: 10px;

			}

		}

		&::after {

			position: absolute;
			top: 48px;
			left: 48px;
			right: 48px;
			bottom: 48px;
			content: '';
			background-color: var(--gray);
			opacity: .8;

		}

	}

	&__label {

		position: absolute;
		top: -34px;
		left: 0;
		right: 0;
		margin: auto;
		width: 166px;
		height: 68px;
		line-height: 44px;
		border-radius: 34px;
		border: 12px solid var(--gray);
		font-size: 16px;
		font-weight: 500;
		color: var(--bg);
		background-color: var(--color);

		@media ($smWidth) {

			font-size: 14px;
			width: 145px;
			height: 60px;
			line-height: 40px;
			border-width: 10px;
			top: -30px;

		}

	}

	&__title {

		font-size: 48px;
		font-weight: 500;
		line-height: 60px;
		margin: 22px 0;

		@media ($smWidth) {

			font-size: 36px;
			line-height: 48px;
			margin: 30px 0 20px;

		}

	}

	&__content {

		@media ($smWidth) {

			margin: 10px;

			br {

				display: none;

			}

		}

		p {

			color: var(--text);

			b {

				font-weight: 600;
				color: #54c7ca;

			}

		}

	}

	&__progress {

		position: relative;
		margin: 80px auto 60px;
		width: 772px;
		max-width: 100%;
		height: 12px;
		border-radius: 4px;
		background-color: color(var(--color) a(10%));
		font-size: 14px;
		line-height: 20px;
		white-space: nowrap;

		@media ($smWidth) {

			height: 10px;
			border-radius: 2px;
			margin: 50px -10px;
			font-size: 12px;
			width: auto;
			max-width: none;

		}

		&-start {

			position: absolute;
			top: 100%;
			left: 0;
			opacity: .5;
			margin-top: 6px;

			&-value {

				margin-bottom: 6px;
				bottom: 100%;
				left: 0;
				position: absolute;

			}

		}

		&-finish {

			position: absolute;
			top: 100%;
			right: 0;
			opacity: .5;
			margin-top: 6px;

			&-value {

				margin-bottom: 6px;
				bottom: 100%;
				right: 0;
				position: absolute;

			}

		}

		&-procent {

			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			border-radius: 4px 0 0 4px;
			background-color: color(var(--green) a(30%));

			@media ($smWidth) {

				border-radius: 2px 0 0 2px;

			}

			&-value {

				line-height: 32px;
				width: 64px;
				border-radius: 6px;
				position: absolute;
				top: -10px;
				right: -32px;
				background-color: var(--red);

				@media ($smWidth) {

					width: 56px;
					line-height: 24px;
					top: -7px;
					right: -28px;

				}

			}

		}

	}

	&__data {

		display: flex;
		justify-content: center;
		margin: 60px 0 48px;

		@media ($smWidth) {

			margin: 54px 0 26px;
			justify-content: space-between;

		}

		&-item {

			width: 202px;
			display: flex;
			padding: 4px 0;
			flex-direction: column-reverse;
			border-left: 1px dashed #414141;

			&:first-child {

				border-left: 0;

			}

			@media ($smWidth) {

				width: auto;
				border: 0;

			}

		}

		&-key {

			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			opacity: .5;

			@media ($smWidth) {

				font-size: 12px;

			}

		}

		&-value {

			font-size: 20px;
			font-weight: 600;
			line-height: 20px;
			margin-bottom: 12px;

			@media ($smWidth) {

				font-size: 16px;
				margin-bottom: 5px;

			}

		}

	}

	&__btn {

		display: flex;
		justify-content: center;
		margin: 36px 0;

		@media ($smWidth) {

			margin: 26px 0 20px;

		}

		.btn {

			min-width: 244px;

		}

	}

	&__foot {

		font-size: 14px;
		line-height: 24px;
		color: #B3B3B3;
		margin: 2px auto;
		width: 330px;
		max-width: 100%;

		@media ($smWidth) {

			font-size: 12px;
			margin-bottom: 36px;

		}

		a {

			text-decoration: underline;
			color: var(--green);
			transition: var(--transitionDefault);

			&:hover {

				text-decoration-color: transparent;

			}

		}

	}

}