.social {

	display: flex;
	justify-content: center;

	&__item {

		margin: 0 3px;

	}

	&__link {

		display: flex;
		padding: 6px;
		align-items: center;

		@media ($desktop) {


		}

	}

	&__text {

		font-weight: 600;
		font-size: 11px;
		line-height: 20px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		padding: 0 6px;

	}

}