.social {

	display: flex;
	margin: 0 -12px;

	&__item {

		margin: 0 12px;

	}

	&__link {

		display: block;
		width: 24px;
		height: 24px;
		border-radius: 50%;

	}

	svg {

		fill: var(--color);

	}

}