.social {

	display: flex;
	justify-content: center;

	&--wrap {

		@media ($smWidth) {

			flex-wrap: wrap;
			margin: -5px;

			.social__item {

				margin: 5px;

			}

		}

	}

	&--scroll {

		@media ($smWidth) {

			justify-content: flex-start;
			overflow-x: auto;
			padding: 14px;
			margin-top: -14px;

			&::after {

				width: 14px;
				content: '';
				flex-shrink: 0;

			}

		}

	}

	&__item {

		margin: 0 6px;

	}

	&--dark &__link {

		color: var(--color);
		background-color: var(--gray);

		svg {

			fill: var(--color);

		}

	}

	&__link {

		display: block;
		font-size: 10px;
		font-weight: 600;
		line-height: 20px;
		border-radius: 21px;
		display: flex;
		padding: 8px 16px 8px 10px;
		align-items: center;
		color: var(--bg);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		background-color: var(--color);

		svg {

			margin-right: 10px;

		}

		@media ($desktop) {

			&:hover svg {


			}

		}

		&.button {

			background-color: var(--blue);

		}

	}

}