.subscribe {

	margin: 36px 0;
	padding: 60px 0;

	@media ($mdWidth) {

		margin: 40px 0;
		padding: 20px 0;

	}

	&__box {

		display: flex;
		justify-content: space-between;

		@media ($smWidth) {

			display: block;

		}

	}

	&__form {

		width: 640px;
		border-radius: 12px;
		padding: 36px;
		background-color: var(--color);

		@media ($smWidth) {

			width: 100%;
			padding: 60px 20px;

		}

	}

	&__telegram {

		width: 376px;
		padding: 36px;
		border-radius: 12px;
		background-color: var(--color);
		margin-left: 20px;

		@media ($smWidth) {

			width: 100%;
			margin-left: 0;
			margin-top: 20px;

		}

		svg {

			margin: 12px auto;

		}

		p {

			color: var(--bg);

			@media ($mdWidth) {

				margin: 12px 0 20px;

			}

			@media ($smWidth) {

				margin: 16px 0 32px;

			}

		}

	}

	&__title {

		font-size: 32px;
		font-weight: 500;
		line-height: 48px;
		color: var(--bg);
		text-align: center;

		@media ($mdWidth) {

			font-size: 24px;
			line-height: 36px;

		}

	}

	&__text {

		font-size: 18px;
		font-weight: 400;
		line-height: 28px;
		text-align: center;
		color: var(--gray);
		opacity: 0.78;
		margin: 12px 0 30px;

		@media ($smWidth) {

			font-size: 16px;
			line-height: 1.5;
			margin: 10px 0 20px;

		}

	}

	&__input-box {

		position: relative;
		margin-top: 36px;

		@media ($smWidth) {

			margin-top: 20px;

		}

		.input {

			border: 1px solid rgba(44, 44, 44, 0.2);
			height: 72px;
			border-radius: 6px;
			padding: 18px 24px;
			line-height: 36px;
			color: var(--bg);
			background-color: var(--color) !important;

			@media ($smWidth) {

				height: 60px;
				padding: 20px;
				line-height: 20px;

			}

			&::placeholder {

				color: var(--bg);
				opacity: .4;

			}

			@media ($desktop) {

				&:hover {

					border-color: var(--bg);

				}

			}

			&:focus {

				border-color: var(--bg);

			}

		}

		.btn {

			position: absolute;
			top: 6px;
			right: 6px;
			padding: 0 24px;

			@media ($smWidth) {

				position: static;
				margin-top: 20px;
				width: 100%;

			}

		}

	}

	&__btn {

		display: flex;
		justify-content: center;

	}

}