.subscribe {

	padding: 160px 0;

	@media ($mdWidth) {

		padding: 60px 0;

	}

	&__box {

		display: flex;
		justify-content: space-between;

		@media ($mdWidth) {

			display: block;

		}

	}

	&__form {

		width: 640px;
		border-radius: 24px;
		padding: 36px;
		background-color: rgba(255, 255, 255, .1);

		@media ($mdWidth) {

			width: 100%;

		}

		@media ($smWidth) {

			padding: 60px 20px;
			border-radius: 12px;

		}

	}

	&__telegram {

		width: 376px;
		padding: 36px;
		border-radius: 24px;
		background-color: rgba(255, 255, 255, .1);
		margin-left: 20px;
		text-align: center;

		@media ($mdWidth) {

			width: 100%;
			margin-left: 0;
			margin-top: 24px;

		}

		@media ($smWidth) {

			border-radius: 12px;

		}

		&-ico {

			display: flex;
			align-items: center;
			justify-content: center;
			width: 60px;
			height: 60px;
			background-color: #EDEDED;
			border-radius: 12px;
			margin: 0 auto 10px;

			@media ($mdWidth) {

				margin-bottom: 14px;

			}

		}

	}

	&__title {

		font-size: 32px;
		font-weight: 500;
		line-height: 48px;
		text-align: center;

		@media ($smWidth) {

			font-size: 24px;
			line-height: 36px;

		}

	}

	&__text {

		font-size: 18px;
		font-weight: 400;
		line-height: 28px;
		text-align: center;
		opacity: 0.78;
		margin: 12px 0 30px;

		@media ($smWidth) {

			font-size: 16px;
			line-height: 1.5;
			margin: 10px 0 20px;

		}

	}

	&__input-box {

		position: relative;
		margin-top: 36px;

		@media ($smWidth) {

			margin-top: 20px;

		}

		.input {

			border: 0;
			height: 72px;
			border-radius: 12px;
			padding: 18px 24px;
			line-height: 36px;
			color: var(--bg);
			background-color: var(--color) !important;

			@media ($smWidth) {

				height: 60px;
				padding: 20px;
				line-height: 20px;

			}

			&::placeholder {

				color: var(--bg);
				opacity: .4;

			}

			@media ($desktop) {

				&:hover {


				}

			}

			&:focus {


			}

		}

		.btn {

			position: absolute;
			top: 6px;
			right: 6px;
			font-size: 16px;
			line-height: 36px;
			padding: 12px 24px;

			@media ($smWidth) {

				position: static;
				margin-top: 20px;
				width: 100%;

			}

		}

	}

	&__result {

		text-align: center;
		color: var(--bg);
		display: block;

		a {

			color: var(--blue);
			text-decoration: underline;

			&:hover {

				text-decoration: none;

			}

		}

	}

	&__btn {

		display: flex;
		justify-content: center;
		margin-top: 26px;

		@media ($smWidth) {

			margin-top: 32px;

			.btn {

				padding: 12px 24px;

			}

		}

		.btn {

			font-size: 16px;
			line-height: 36px;
			padding: 12px 36px;

		}

	}

}