{% set title = "We make binary options a professional trusted instrument." %}

{% set description = "Peer-to-peer bets on blockchain. Chainlink as a price oracle." %}

{% set preloadImage = [
	{
		media: "(max-width: 767px)",
		img : "/img/first-screen/img--mobile.webp"
	},
	{
		media: "(min-width: 1200px)",
		img : "/img/first-screen/img.webp"
	}
] %}

{% extends "template/base.html" %}

{% block content %}

{% include "main/first-screen.html" %}

{% include "main/funded.html" %}

{% include "main/rewarding.html" %}

{% include "main/subscribe.html" %}

{% include "main/based.html" %}

{% endblock %}